<%if (title) { %>
    <h1 id="title"><%= title %></h1>
    <%}else {res.redirect('/')} %> <% if (errors){ %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% }%> <%- messages() %>
    
    <form action="/account/edit-review" method="post" id="editReview">
        <label for="review-date"
          >Review Date</label>
          <input readonly value="<%= locals.review_date_parsed%>" class="reviewDate"/>
        
        <label for="review-text">Review Text</label>
          <textarea
            rows="5"
            name="review_text"
            id="edit-review-text"
            required
          ><%= locals.review_text%></textarea>

        <input type="hidden" name="review_id" <% if (locals.review_id) { %> value="<%=locals.review_id %>"<%}%>>
       
        <input type="submit" value="Edit Review" id="submitUpdate" />
    
    </form>
    