<!DOCTYPE html>
<html lang="en">
<style>
    html {
        background-image: url("/public/images/site/checkerboard.jpg");
    }
</style>
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
    
</html>